*{
    margin: 0;
    padding: 0;
    
    
}

h1 {
    color: green;
   
}
header {
    width: 80vw;
    display : flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 50px;
}

#msg{
    width: 500px;
    border: 1px solid white;
    background-color: white;
}

#msg img{
    margin-right: 10px;
    height: 30px;
}

#nivel {
    border: 1px solid #28a745;
    width: 70px;
    height: 70px;
    padding: auto;
    align-items: center;
    border-radius: 50%;
    text-align: center;
    background-color:  #28a745;
    margin-bottom: 10px;
    color: white;
}

#nivel img{
    padding-top: 10px;
    height: 30px;
    color: white;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(./img/61205b6727095.jpg);
    background-image: no-repeat;

   
    
}

#moedas{
    background-color: white;
    display: flex;
    width: 300px;
    height: 50px;
    align-content: center;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    margin: 0 50px;

}

#moedas img{
    height: 30px;
    padding-right: 20px;
}

#start{
    margin-bottom: 10px;
    padding: 10px;
    margin-left: 40px;
   
}

#start img{
    width: 30px;
}


#pontos {
display: flex;
background-color: #28a745;
border: #28a745;
color: white;
height: 50px;
width: 120px;
position: relative;

text-align: center;
justify-content: center;
align-items: center;
margin-bottom: 20px;
margin-right: 20px;;
}

#pontos img{
    margin-right: 10px;;
}

#linha-baixo{
    /* display: flex; */
    align-items: center;
    /* justify-content: center; */
}

footer{
    color: lightslategray;
}

canvas{
    background-image: url(./img/chao-test.png);
    background-size: contain;
}